body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding-top: 75px;
  border: bold;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #68936d;
}